In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint

In [10]:
df = pd.read_stata('401K.DTA')
df

           prate  mrate  totpart  totelg  age  totemp  sole   ltotemp
0      26.100000   0.21   1653.0  6322.0    8  8709.0     0  9.072112
1     100.000000   1.42    262.0   262.0    6   315.0     1  5.752573
2      97.599998   0.91    166.0   170.0   10   275.0     1  5.616771
3     100.000000   0.42    257.0   257.0    7   500.0     0  6.214608
4      82.500000   0.53    591.0   716.0   28   933.0     1  6.838405
...          ...    ...      ...     ...  ...     ...   ...       ...
1529   85.099998   0.33    553.0   650.0   24   907.0     0  6.810143
1530  100.000000   2.52    142.0   142.0   17   197.0     1  5.283204
1531  100.000000   2.27   1928.0  1928.0   35  2171.0     0  7.682943
1532  100.000000   0.58    166.0   166.0    8   931.0     1  6.836259
1533  100.000000   0.45   2179.0  2179.0   24  3187.0     0  8.066835

[1534 rows x 8 columns]

In [5]:
reader = pd.io.stata.StataReader('401K.DTA')

variable_descriptions = reader.variable_labels()

pprint.pprint(variable_descriptions)

{'age': 'age of 401k plan',
 'ltotemp': 'log of totemp',
 'mrate': '401k plan match rate',
 'prate': 'participation rate, percent',
 'sole': "= 1 if 401k is firm's sole plan",
 'totelg': 'total eligible for 401k plan',
 'totemp': 'total number of firm employees',
 'totpart': 'total 401k participants'}

In [14]:
print(df.mrate.describe())
print(df.prate.describe())

count    1534.000000
mean        0.731512
std         0.779539
min         0.010000
25%         0.300000
50%         0.460000
75%         0.830000
max         4.910000
Name: mrate, dtype: float64
count    1534.000000
mean       87.362907
std        16.716537
min         3.000000
25%        78.025000
50%        95.699997
75%       100.000000
max       100.000000
Name: prate, dtype: float64

In [16]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [23]:

model = smf.ols(formula='prate ~ mrate', data=df)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  prate   R-squared:                       0.075
Model:                            OLS   Adj. R-squared:                  0.074
Method:                 Least Squares   F-statistic:                     123.7
Date:                Mon, 01 Sep 2025   Prob (F-statistic):           1.10e-27
Time:                        20:20:07   Log-Likelihood:                -6437.0
No. Observations:                1534   AIC:                         1.288e+04
Df Residuals:                    1532   BIC:                         1.289e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     83.0755      0.563    147.484      0.000      81.971      84.180
mrate          5.8611      0.527     11.121      0.000       4.827       6.895
==============================================================================
Omnibus:                      394.767   Durbin-Watson:                   1.908
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              870.172
Skew:                          -1.444   Prob(JB):                    1.11e-189
Kurtosis:                       5.296   Cond. No.                         2.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Based on the table above here are the answers:
iii. Intercept Coef for prate is the predeicted participation when 0 dollars is matched for every dollar
    Coefficint for mrate is how much prate increases with respect to mrate
iv. 83.07 + (5.86 * 3.5) = 103.58 which doesn't make sense because cant go over 100 percent participation. 3.5 times match rate is very unreasonable
v. mrate explain 7.5 percent of the variance within prate